.game
{
    background: rgba(1, 104, 53, 0.966);
    width: 100%;
    height: 100vh;
    border: 1px solid  red;
    margin: 0 auto; 
    border: solid 10px;
    text-align: center;
}

h1 {
    display: inline-block;
    padding: 10px;
    background:black;
    color:white;
    width: 320px;;
    margin: 10px auto;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.deck {
    float:left;
    background: white;
    color:#222;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}

.status {
    text-align: center;
    background: gold;
    border: solid 5px white;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.players {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    color: yellowgreen;
    background: red;
    height: 20px;
    width: 100px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.player, .dealer {
    display: flex;
    border: 3px solid yellowgreen;
    width: 500px;
    height: 500px;
    justify-content: center;
    margin: 0px 20px;
}

.gameOptions {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 720px;
    height: 100px;
    align-items: center;
}

.btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background:#222;
    color:white !important;
    cursor:pointer;
    font-size: 20px;
    width: 100px;
}

.btn:hover{
    background:red;
}
